<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Product Index Page</title>
</head>
<body>
    <header>
        <h1>Dungeon Merchant Products</h1>
    </header>

    <div class="productsContainer">
        <% products.forEach(product => { %>
            <div class="container">
            <a href="/products/<%=product._id%>" alt="<%=product.name%>"><img src="<%=product.img%>"></a>
            <!-- <p id="productName"><%=product.name%></p> -->
        </div>
        <% }) %>
    
    </div>
    
            <footer><a href="/products/new" class="btn" id="addNew">Add new product</a></footer>

    
</body>
</html>